body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ========================================================================================================================================================
                                  header
======================================================================================================================================================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.cont-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.color-logo {
  color: #2e2f42;
}
.nav-list {
  display: none;
}

.contact {
  display: none;
}

.menu-nav-btn {
  background: transparent;
  cursor: pointer;
  border: none;
}

.menu-nav-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 120px;
  }
  .nav-item:hover {
    color: #404bbf;
  }
  .nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    text-decoration: none;
    position: relative;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item.current {
    color: #404bbf;
  }
  .nav-item.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-item:focus {
    color: #404bbf;
  }

  .nav-item:active {
    color: #404bbf;
  }

  .contact {
    display: block;
    margin-left: auto;
  }

  .contact-link:hover {
    color: #404bbf;
  }

  .contact-link:focus {
    color: #404bbf;
  }

  .contact {
    font-style: normal;
  }

  .contact-list {
    display: block;
    gap: 40px;
    align-items: center;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav-btn {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contact {
    margin-left: auto;
  }
  .contact-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========================================================================================================================================================
                         menu-mob
======================================================================================================================================================== */
.backdrop-menu {
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-menu {
  width: calc(100% - 48px);
  height: 100vh;
  background-color: #fafafa;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
  display: block;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-item:hover {
  color: #404bbf;
}

.menu-nav-item:focus {
  color: #404bbf;
}

.menu-contact {
  font-style: normal;
}

.menu-contact-link:hover {
  color: #404bbf;
}

.menu-contact-link:focus {
  color: #404bbf;
}

.menu-contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 100px;
}

.menu-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-icon:hover {
  background-color: #404bbf;
}

.menu-link-icon:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .backdrop-menu {
    display: none;
  }
}
/* ========================================================================================================================================================
                             solutions
======================================================================================================================================================== */

.solutions {
  padding: 72px 0;
  max-width: 320px;
  box-sizing: content-box;
  background: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob.jpg);
  margin: auto;
}
@media screen and (min-device-pixel-ratio),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob@2x.jpg);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .solutions {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tab.jpg);
  }
  @media screen and (min-device-pixel-ratio),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tab@2x.jpg);
    }
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 1158px) {
  .solutions {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desk.jpg);
  }
  .title {
    margin: 0 auto 48px;
  }
  @media screen and (min-device-pixel-ratio),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desk@2x.jpg);
    }
  }
}
/* ========================================================================================================================================================
                          progress
======================================================================================================================================================== */

.progress {
  padding-top: 96px;
  padding-bottom: 96px;
}
.progress-list {
  display: flex;
  justify-content: center;
  gap: 72px 0;
  flex-wrap: wrap;
}

.progress-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.progres-box-icon {
  display: none;
}

.progress-list-item {
  border-radius: 0px 0px 4px 4px;
  width: 320px;
}

.progress-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .progress-list {
    gap: 72px 24px;
  }
  .progress-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .progress {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .progress-list {
    gap: 24px;
  }
  .progress-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .progres-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .progress-list-item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
  }
  .progress-text {
    font-weight: 400;
  }
}

/* ========================================================================================================================================================
                          team
======================================================================================================================================================== */

.team .container {
  padding: 0 28px;
}

.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.team-item {
  width: 262px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  row-gap: 48px;
}
.team-title-position {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-svg {
  fill: #f4f4fd;
}
.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover {
  background-color: #404bbf;
}

.team-link-icon:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team .container {
    padding: 0 108px;
  }
  .team-list {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team .container {
    padding: 0 16px;
  }
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .team-list {
    gap: 24px;
  }
}

/* ========================================================================================================================================================
                              portfolio
======================================================================================================================================================== */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item {
  width: 288px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-wrap {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-text-wrap {
  transform: translateY(0);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ========================================================================================================================================================
                      footer
======================================================================================================================================================== */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 72px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
}

.color-logo-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-second-box {
  margin: 0 auto;
}

.footer-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover {
  background-color: #31d0aa;
}

.footer-link-icon:focus {
  background-color: #31d0aa;
}

.footer-text-social {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-form-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn-form {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;

  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-form:hover {
  background: #404bbf;
}
.footer-btn-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .container-footer {
    padding-left: 108px;
  }

  .logo-footer {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-second-box {
    margin-left: 0;
  }
  .container-footer {
    gap: 24px;
    row-gap: 72px;
  }
  .footer-text-social {
    text-align: start;
  }
  .footer-form-btn {
    gap: 24px;
  }

  .footer-input {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .container-footer {
    padding: 0 16px;
  }
  .footer-first-block {
    margin-right: 120px;
  }
  .footer-second-box {
    max-width: 208px;
  }
}

/* ========================================================================================================================================================
         modal
======================================================================================================================================================== */

.backdrop {
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: calc(100% - 32px);
  max-width: 288px;
  background-color: #fafafa;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
/* =====close-btn-start====== */

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close:focus {
  fill: #ffffff;
  border: none;
  background-color: #404bbf;
}

.modal-close:hover .btn-close-icon {
  fill: #ffffff;
}

.modal-close:focus .btn-close-icon {
  fill: #ffffff;
}

/* =====close-btn-end===== */

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  max-width: 360px;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  margin-bottom: 8px;
  position: relative;
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-title-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment {
  margin-bottom: 16px;
}

/* ===========CHECK================ */

.form-check {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.form-chek-icon {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-title-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  position: relative;

  display: inline-flex;
  align-items: center;
}

.modal-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-check-input:checked + .form-title-check .form-chek-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.btn-form {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  border: none;

  border-radius: 4px;
  padding: 16px;
  min-width: 169px;
  height: 56px;

  margin: 0 auto;
  margin-top: 24px;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form:hover {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}
